<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookShopProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BookShopProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/partial/old/book.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/partial/old/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/partial/old/detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cart/cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cart/order.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user_site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user_profile/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user_profile/address.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user_profile/order.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user_profile/order_detail.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="left-section">
            <a asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/images/fahasa_logo.png" />
            </a>
        </div>
        <div class="middle-section">
            <button class="category-button">
                <img class="category-icon" src="~/icons/menu_rounded_64px.png" />
                <ul class="category-dropdown-menu">
                    <li class="dropdown-item"><a>Type1</a></li>
                    <li class="dropdown-item"><a>Type2</a></li>
                    <li class="dropdown-item"><a>Type3</a></li>
                    <li class="dropdown-item"><a>Type4</a></li>
                    <li class="dropdown-item"><a>Type5</a></li>
                    <li class="dropdown-item"><a>Type6</a></li>
                    <!-- this is where define type-->
                </ul>
            </button>
            <input class="search-bar" placeholder="Search" type="text" />
            <div class="search-button">
                <img class="search-icon" src="~/icons/ico_search_white.svg" />
            </div>
        </div>
        <div class="right-section">
            <form asp-controller="Cart" asp-action="Index" method="get">
                <button class="cart-button">
                    <img class="cart-icon" src="~/icons/ico_cart_gray.svg" />
                </button>
            </form>
            <button class="account-button category-button">
                <img class="account-icon" src="~/icons/ico_account_gray.svg" />
                <ul class="user-dropdown-menu">
                    <li class="dropdown-item"><a>Profile</a></li>
                    <li class="dropdown-item"><a>Order</a></li>
                    <li class="dropdown-item"><a>LogOut</a></li>
                    <!-- this is where define type-->
                </ul>
            </button>
        </div>
    </header>
    <div class="body">
        <main class="main-body" role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BookShopProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        function decreaseQuantity() {
            var input = document.getElementsById("amount-input");
            var value = document.getElementsById("amount-input").value;
            if (value > 1) {
                input.value = value - 1;
            }
        }

        function increaseQuantity() {
            var input = document.getElementsById("amount-input");
            var value = document.getElementsById("amount-input").value;
            input.value = value + 1;
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>

</html>