@{
    Layout = "_AdminLayout";
}

<div class="dashboard-content-container">
    <div class="dashboard-title-container">
        <div class="left-dashboard-title">
            <div class="dashboard-title">Dashboard</div>
        </div>
        <div class="right-dashboard-title">
            <label style="display:none" for="datepicker"></label>
            <input class="dashboard-date-pickup" type="date" id="datepicker" name="datepicker" />
            <button class="dashboard-export-report-button">Export</button>
        </div>
    </div>
    <div class="statistic-row-container">
        <div class="statistic-container">
            <div class="top-statistic-overview">
                <div>Total customer</div>
            </div>
            <div class="middle-statistic-overview">
                1000
            </div>
            <div class="bottom-statistic-overview">
                <img /> 34.5%
            </div>
        </div>
        <div class="statistic-container">
            <div class="top-statistic-overview">
                <div>Total Other</div>
            </div>
            <div class="middle-statistic-overview">
                1000
            </div>
            <div class="bottom-statistic-overview">
                <img /> 34.5%
            </div>
        </div>
        <div class="statistic-container">
            <div class="top-statistic-overview">
                <div>Revenue</div>
            </div>
            <div class="middle-statistic-overview">
                1000
            </div>
            <div class="bottom-statistic-overview">
                <img /> 34.5%
            </div>
        </div>
    </div>
</div>


