.product-view-content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .product-view-content-container .product-list-breadcumb {
        margin-bottom: 30px;
    }

.product-view-title-container {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-view-bottom-section {
    flex: 1;
    display: flex;
}

.product-view-showing-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid rgb(206,212,218);
}


.product-save-button, .product-cancel-button {
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
}

.product-save-button {
    background-color: rgb(255,211,51);
}

.product-cancel-button {
    background-color: #E6E8EB;
    margin-right: 15px;
}

.product-view-section {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(206,212,218);
}

.product-view-row {
    display: flex;
    flex-direction: row;
}

    .product-view-row .form-group {
        margin-right: 50px;
    }

.form-group {
    margin-bottom: 15px;
}

.form-select-type .product-search-type-path, .product-search-author-path {
    height: 35px;
}

/*Type & Author*/
.form-type-section {
    flex: 1;
    display: flex;
    height: 200px;
}

label {
    font-size: 15px;
    font-weight: 500;
}

.delete-dropdown {
    border: none;
    background-color: transparent;
}
