@{
    Layout = "_AdminLayout";
}

@model Author

<div class="product-view-content-container">
    <div class="product-list-breadcumb">
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        <div> &nbsp; /&nbsp;  <a asp-controller="Author" asp-action="Index">Authors</a> &nbsp; /&nbsp; View</div>
    </div>
    @if (Model == null)
    {
        <form asp-action="Create">
            <div class="product-view-title-container">
                <div class="product-list-title">Edit Author</div>
                <div class="product-list-create-section">
                    <button class="product-cancel-button" asp-controller="Author" asp-action="Index">Cancel</button>
                    <button class="product-save-button" type="submit">Save</button>
                </div>
            </div>
            <div class="form-type-section">
                <div class="product-view-showing-section">
                    <div class="form-group">
                        <label asp-for="AuthorName" class="control-label">Author's Name</label>
                        <input asp-for="AuthorName" class="form-control" />
                        <span asp-validation-for="AuthorName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <form asp-action="Edit">
            <div class="product-view-title-container">
                <div class="product-list-title">Edit Author</div>
                <div class="product-list-create-section">
                    <button class="product-cancel-button" asp-controller="Author" asp-action="Index">Cancel</button>
                    <button class="product-save-button" type="submit">Save</button>
                </div>
            </div>
            <div class="form-type-section">
                <div class="product-view-showing-section">
                    <input type="hidden" asp-for="AuthorID" />
                    <div class="form-group">
                        <label asp-for="AuthorName" class="control-label">Author's Name</label>
                        <input asp-for="AuthorName" class="form-control" />
                        <span asp-validation-for="AuthorName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    }
</div>

