@{
    Layout = "_UserLayout";
}

@model User

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a asp-controller="User" asp-action="Profile">Profile</a>
                <a class="active">Address</a>
                <a asp-controller="Order" asp-action="Index">Order</a>
                <a>Logout</a>
            </div>
        </div>
    </div>
    <div class="user-profile-path">
        <div class="user-information-container">
            <div class="user-address-showing">
                <div>
                    <div class="user-information-main-title">
                        Your Address List
                    </div>
                    <div class="user-information-sub-title">
                        Manage your addresses
                    </div>
                </div>
                <a class="user-address-create-button">Add New</a>
            </div>
            <div class="user-address-list-container">
                <ul class="user-address-list">
                    <li>
                        <div class="user-address-card">
                            <div class="user-address-card-info">
                                <div class="user-address-title">
                                    <div class="user-address-city">City</div>
                                    <div>Country</div>
                                </div>
                                <div class="user-address-detail">
                                    Detail
                                </div>
                            </div>
                            <div class="user-address-card-action">
                                <form>
                                    <a style="color:#C92127">Make default</a>
                                </form>
                                <form>
                                    <a>Delete</a>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

