@{
    Layout = "_UserLayout";
}

@model User

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
             <div>
                <a class="active">Profile</a>
                <a asp-controller="Address" asp-action="Index">Address</a>
                <a asp-controller="Order" asp-action="Index">Order</a>
                <a asp-controller="Session" asp-action="Logout">Logout</a>
             </div>
        </div>
    </div>
    <div class="user-profile-path">
       <form asp-controller="User" asp-action="Profile" method="post">
            <div class="user-information-container">
                <div class="user-information-title">
                    <div class="user-information-main-title">
                        Your Profile
                    </div>
                    <div class="user-information-sub-title">
                        Manage your information
                    </div>
                </div>
                <div class="user-information-bottom-showing">
                    <div class="user-information-left-title">
                        <div>UserName</div>
                        <div>FullName</div>
                        <div>Email</div>
                        <div>Phone</div>
                        <div>Citizen Identity</div>
                        <div>Address</div>
                    </div>
                    <div class="user-information-right-showing">
                        <input type="hidden" asp-for="UserID" />
                        <input type="hidden" asp-for="AddressDefaultID" />
                        <input type="hidden" asp-for="Addresses" />
                        <input type="hidden" asp-for="Carts" />
                        <input type="hidden" asp-for="Orders" />
                        <input type="hidden" asp-for="UserType" />
                        <input type="hidden" asp-for="Password" />
                        <input asp-for="UserName" type="text" />
                        <input asp-for="FullName" type="text" />
                        <input asp-for="Email" type="email" />
                        <input asp-for="Phone" type="text" />
                        <input asp-for="CitizenID" type="text" />
                        <input asp-for="Address" type="text" />
                    </div>
                </div>
                <div class="user-information-button-container">
                    <button class="user-info-save-button" type="submit">Save</button>
                </div>
            </div>
       </form>
    </div>
</div>
