@{
    Layout = "_UserLayout";
}

@model Order

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a class="active">Profile</a>
                <a asp-controller="Address" asp-action="Index">Address</a>
                <a asp-controller="Order" asp-action="Index">Order</a>
                <a>Logout</a>
            </div>
        </div>
    </div>
    <div class="user-profile-path">
        <div class="user-order-information-container">
            <div class="user-address-showing">
                <div>
                    <div class="user-information-main-title">
                        Order's Detail
                    </div>
                    <div class="user-information-sub-title">
                        Review order #id
                    </div>
                </div>
                <a asp-action="Index" class="user-address-create-button">Back</a>
            </div>
            <div class="user-order-info-detail">
                <div class="user-order-status">
                    <div>Date</div>
                    <div>Status : ?</div>
                </div>
                <div style="padding-bottom:15px;">Products</div>
                <div class="user-order-product-list">
                        <ul class="user-order-item-list">
                            <li>
                                <div class="user-order-item-card">
                                    <div class="user-order-card-info">
                                    <div class="user-order-item-image">
                                        <img style="height:35px" src="https://i.imgur.com/qywe4pq.jpg" />
                                        </div>
                                        <div class="user-order-name-number">
                                            <div>Title</div>
                                            <div>x 3</div>
                                        </div>
                                    </div>
                                <div class="user-order-price-path">
                                    <div>100000 đ</div>
                                </div>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="user-order-total-path">
                <div class="user-order-total-row">
                    <div class="user-order-total-title">Cost :&nbsp;</div>
                    <div>1000000 đ</div>
                </div>
                <div class="user-order-total-row">
                    <div class="user-order-total-title">Discount :&nbsp;</div>
                    <div>- 100000 đ</div>
                </div>
                <div class="user-order-total-row">
                    <div class="user-order-total-title">Total :&nbsp;</div>
                    <div>900000 đ</div>
                </div>
            </div>
            <div class="user-information-button-container">
                <form>
                    <button class="user-info-save-button">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


