@{
    Layout = "_UserLayout";
}

@model IEnumerable<Order>

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a asp-controller="User" asp-action="Profile">Profile</a>
                <a asp-controller="Address" asp-action="Index">Address</a>
                <a class="active">Order</a>
                <a asp-controller="Session" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="user-profile-path">
        <div class="user-information-container">
            <div class="user-address-showing">
                <div>
                    <div class="user-information-main-title">
                        Your Order History
                    </div>
                    <div class="user-information-sub-title">
                        Review your order
                    </div>
                </div>
            </div>
            <div class="user-address-list-container">
                <ul class="user-address-list">
                    @foreach(var order in Model)
                    {
                        <partial name="User/_Order" model="@order"></partial>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>


