@{
    Layout = "_UserLayout";
}

@model Order

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a asp-controller="User" asp-action="Profile">Profile</a>
                <a asp-controller="Address" asp-action="Index">Address</a>
                <a class="active">Order</a>
                <a asp-controller="Session" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="user-profile-path">
        <div class="user-information-container">
            <div class="user-address-showing">
                <div>
                    <div class="user-information-main-title">
                        Your Order History
                    </div>
                    <div class="user-information-sub-title">
                        Review your order
                    </div>
                </div>
            </div>
            <div class="user-address-list-container">
                <ul class="user-address-list">
                    <li>
                        <div class="user-order-card">
                            <div class="user-order-card-info">
                                <div class="user-order-date">
                                    27/01/2023 00:00:00
                                </div>
                                <div class="user-order-total">
                                    1000000 đ
                                </div>
                            </div>
                            <div class="user-order-card-action">
                                <a asp-action="Detail" style="color:#C92127">Detail</a>
                                <form>
                                    <a>Cancel</a>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


