@{
    Layout = "_UserLayout";
}
@model Cart
<div class="cart-container">
    <div class="cart-top-title">CART</div>
    <div class="cart-bottom-container">
        <div class="cart-item-container-left">
            <div class="cart-table-showing">
                <table class="product-list-showing">
                    <thead>
                        <tr role="row" class="cart-head">
                            <th class="product-image-showing">Image</th>
                            <th class="product-name-showing">Name</th>
                            <th class="product-price-showing">Price</th>
                            <th class="product-number-showing">Number</th>
                            <th class="product-action-showing"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ViewBag.ItemList)
                        {
                            <partial name="User/_CartItem" model="@item"></partial>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cart-discount-input-right">
            <div class="cart-discount-path">
                <div class="discount-path-title">Discount</div>
                <input type="text" id="discountCode" placeholder="Enter code">
                <form>
                    <button onclick="">Apply</button>
                </form>
            </div>
            <div class="cart-money-path">
                <div class="cart-cost-path">
                    <div>Cost</div>
                    <div>@Model.Cost</div>
                </div>
                <div class="cart-discount-percent-path">
                    <div>Discount Code</div>
                    <div>- 0 đ</div>
                </div>
                <div class="cart-total-money-path">
                    <div>TOTAL</div>
                    <div>@Model.Cost</div>
                </div>
                <div class="cart-button-purchase-path">
                    <form asp-controller="Order" asp-action="Create" method="get">
                        <button type="submit">Purchase</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>