@{
    Layout = "_AdminLayout";
}

@model Order

<div class="product-view-content-container">
    <div class="product-list-breadcumb">
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        <div> &nbsp; /&nbsp;  <a asp-controller="Bill" asp-action="Index">Bills</a> &nbsp; /&nbsp; View</div>
    </div>
    <div class="product-view-title-container">
         <div class="product-list-title">Bill Detail</div>
         <div class="product-list-create-section">
             <form>
                <button asp-controller="Bill" asp-action="Index" class="product-list-create-button">Cancel</button>
             </form>
         </div>
    </div>
    <div class="product-view-bottom-section">
        <div class="product-view-showing-section">
            <div class="form-group">
                <div class="user-order-information-container">
                    <div class="user-address-showing">
                        <div>
                            <div class="user-information-main-title">
                                Order's Detail
                            </div>
                            <div class="user-information-sub-title">
                                Review order #id
                            </div>
                        </div>
                        <a asp-action="Index" class="user-address-create-button">Back</a>
                    </div>
                    <div class="user-order-info-detail">
                        <div class="user-order-status">
                            <div>Date</div>
                            <div>Status : ?</div>
                        </div>
                        <div style="padding-bottom:15px;">Products</div>
                        <div class="user-order-product-list">
                            <ul class="user-order-item-list">
                                @*Start Product List*@
                                <li>
                                    <div class="user-order-item-card">
                                        <div class="user-order-card-info">
                                            <div class="user-order-item-image">
                                                <img style="height:35px" src="https://i.imgur.com/qywe4pq.jpg" />
                                            </div>
                                            <div class="user-order-name-number">
                                                <div>Title</div>
                                                <div>x 3</div>
                                            </div>
                                        </div>
                                        <div class="user-order-price-path">
                                            <div>100000 đ</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-order-item-card">
                                        <div class="user-order-card-info">
                                            <div class="user-order-item-image">
                                                <img style="height:35px" src="https://i.imgur.com/qywe4pq.jpg" />
                                            </div>
                                            <div class="user-order-name-number">
                                                <div>Title</div>
                                                <div>x 3</div>
                                            </div>
                                        </div>
                                        <div class="user-order-price-path">
                                            <div>100000 đ</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-order-item-card">
                                        <div class="user-order-card-info">
                                            <div class="user-order-item-image">
                                                <img style="height:35px" src="https://i.imgur.com/qywe4pq.jpg" />
                                            </div>
                                            <div class="user-order-name-number">
                                                <div>Title</div>
                                                <div>x 3</div>
                                            </div>
                                        </div>
                                        <div class="user-order-price-path">
                                            <div>100000 đ</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-order-item-card">
                                        <div class="user-order-card-info">
                                            <div class="user-order-item-image">
                                                <img style="height:35px" src="https://i.imgur.com/qywe4pq.jpg" />
                                            </div>
                                            <div class="user-order-name-number">
                                                <div>Title</div>
                                                <div>x 3</div>
                                            </div>
                                        </div>
                                        <div class="user-order-price-path">
                                            <div>100000 đ</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="user-order-total-path">
                        <div class="user-order-total-row">
                            <div class="user-order-total-title">Cost :&nbsp;</div>
                            <div>1000000 đ</div>
                        </div>
                        <div class="user-order-total-row">
                            <div class="user-order-total-title">Discount :&nbsp;</div>
                            <div>- 100000 đ</div>
                        </div>
                        <div class="user-order-total-row">
                            <div class="user-order-total-title">Total :&nbsp;</div>
                            <div>900000 đ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
