@{
    Layout = "_AdminLayout";
}

@model Order

<div class="product-view-content-container">
    <div class="product-list-breadcumb">
        <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        <div> &nbsp; /&nbsp;  <a asp-controller="Bill" asp-action="Index">Bills</a> &nbsp; /&nbsp; View</div>
    </div>
    <div class="product-view-title-container">
         <div class="product-list-title">Bill Detail</div>
         <div class="product-list-create-section">
             <form>
                <button asp-controller="Bill" asp-action="Index" class="product-list-create-button">Cancel</button>
             </form>
         </div>
    </div>
    <div class="product-view-bottom-section">
        <div class="product-view-showing-section">
            <div class="form-group">
                <div class="user-order-information-container">
                    <div class="user-address-showing">
                        <div>
                            <div class="user-information-main-title">
                                Order's Detail
                            </div>
                            <div class="user-information-sub-title">
                                Review order #id
                            </div>
                        </div>
                        <a asp-action="Index" class="user-address-create-button">Back</a>
                    </div>
                    <div class="user-order-info-detail">
                        <div class="user-order-status">
                            <div>@Model.OrderDate</div>
                            <div>Status : @Model.DeliveryStatus</div>
                        </div>
                        <div style="padding-bottom:15px;">Products</div>
                        <div class="user-order-product-list">
                            <ul class="user-order-item-list">
                                @foreach (var item in ViewBag.ItemList)
                                {
                                    <partial name="User/_OrderDetailItem" model="item"></partial>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="user-order-total-path">
                        <div class="user-order-total-row">
                            <div class="user-order-total-title">Cost :&nbsp;</div>
                            <div>@Model.TotalAmount đ</div>
                        </div>
                        <div class="user-order-total-row">
                            <div class="user-order-total-title">Discount :&nbsp;</div>
                            <div>- 0 đ</div>
                        </div>
                        <div class="user-order-total-row">
                            <div class="user-order-total-title">Total :&nbsp;</div>
                            <div>@Model.TotalAmount đ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
