/*BookList*/
.product-list-content-continer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product-list-top-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.product-list-breadcumb {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 500;
}

    .product-list-breadcumb a {
        color: black;
        text-decoration: none;
    }

        .product-list-breadcumb a:hover {
            text-decoration: underline;
        }

.product-list-title-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 30px;
    font-weight: 700;
}

.product-list-create-section {
    display: flex;
    align-items: center;
}

.product-list-create-button {
    height: 35px;
    border: none;
    background-color: rgb(255,211,51);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
}

.product-list-bottom-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-list-showing-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(206,212,218);
}

.product-list-filter-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    align-items:center;
}

    .product-list-filter-bar .product-search-name-path {
        flex: 1;
        width: 100%;
        max-width: 500px;
        margin-right: 30px;
        border: 1px solid rgb(206,212,218);
        border-radius: 5px;
        padding-left: 30px;
        height:35px
    }

.product-search-type-path, .product-search-author-path {
    width: 130px;
    font-size: 15px;
    margin-right: 15px;
    border: 1px solid rgb(206,212,218);
    border-radius: 5px;
    text-align: center;
}

.product-list-filter-bar .product-search-submit-path {
    display: flex;
    position: relative;
    align-items: center;
}

.product-list-filter-bar .product-search-submit-icon {
    position: absolute;
    height: 20px;
    left: 5px;
}

.product-list-filter-bar .product-search-submit-button {
    height: 35px;
    border: none;
    background-color: rgb(255,211,51);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 15px;
}



.product-list-showing-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*.product-list-table-scroll {
    display: flex;
    max-height: 550px;
    overflow-y: scroll;
    scrollbar-width: none;
}*/

/*Category List*/

.booktype-list-showing-section {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(206,212,218);
}

/*Author List*/

.author-list-showing-section {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(206,212,218);
}
