html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    background-color: #E6E8EB;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(245,247,250);
    min-height: 100vh;

}

.main-login-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(245,247,250);
    min-height: 100vh;
    justify-content:center;
}

.user-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(245,247,250);
}
