@{
    Layout = "_UserLayout";
}

@model UserAddress

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a >Profile</a>
                <a class="active" asp-controller="Address" asp-action="Index">Address</a>
                <a asp-controller="Order" asp-action="Index">Order</a>
                <a>Logout</a>
            </div>
        </div>
    </div>
   @if(Model == null)
   {
        <form asp-action="Create">
            <div class="user-profile-path">
                <div class="user-information-container">
                    <div class="user-address-showing">
                        <div>
                            <div class="user-information-main-title">
                                Create New Address
                            </div>
                            <div class="user-information-sub-title">
                                Custom your new address
                            </div>
                        </div>
                        <a asp-action="Index" class="user-address-create-button">Back</a>
                    </div>
                    <div class="user-information-bottom-showing">
                        <div class="user-information-left-title">
                            <div>Country</div>
                            <div>City</div>
                            <div>Address</div>
                        </div>
                        <div class="user-information-right-showing">
                            <input type="text" asp-for="Country"/>
                            <input type="text" asp-for="City" />
                            <input type="text" asp-for="Address" />
                        </div>
                    </div>
                    <div class="user-information-button-container">
                        <button class="user-info-save-button" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
   }
   else
   {
        <form asp-action="Edit">
            <div class="user-profile-path">
                <div class="user-information-container">
                    <div class="user-address-showing">
                        <div>
                            <div class="user-information-main-title">
                                Edit your Address
                            </div>
                            <div class="user-information-sub-title">
                                Custom your old address
                            </div>
                        </div>
                        <a asp-action="Index" class="user-address-create-button">Back</a>
                    </div>
                    <div class="user-information-bottom-showing">
                        <div class="user-information-left-title">
                            <div>Country</div>
                            <div>City</div>
                            <div>Address</div>
                        </div>
                        <div class="user-information-right-showing">
                            <input type="hidden" asp-for="UserAddressID" />
                            <input type="hidden" asp-for="UserID" />
                            <input type="text" asp-for="Country" />
                            <input type="text" asp-for="City" />
                            <input type="text" asp-for="Address" />
                        </div>
                    </div>
                    <div class="user-information-button-container">
                        <button class="user-info-save-button" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
   }
</div>

