@{
    Layout = "_UserLayout";
}

@model IEnumerable<UserAddress>

<div class="user-profile-container">
    <div class="user-menu-path">
        <div class="user-menu-container">
            <div>
                <a asp-controller="User" asp-action="Profile">Profile</a>
                <a class="active">Address</a>
                <a asp-controller="Order" asp-action="Index">Order</a>
                <a asp-controller="Session" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="user-profile-path">
        <div class="user-information-container">
            <div class="user-address-showing">
                <div>
                    <div class="user-information-main-title">
                        Your Address List
                    </div>
                    <div class="user-information-sub-title">
                        Manage your addresses
                    </div>
                </div>
                <a asp-action="Create" class="user-address-create-button">Add New</a>
            </div>
            <div class="user-address-list-container">
                <ul class="user-address-list">
                   @foreach(var address in Model)
                    {
                        <partial name="User/_Address" model="@address"></partial>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>

