a{
    cursor:pointer;
    text-decoration:none;
    color:black;
}

.user-address-create-button {
    display: flex;
    color: white;
    align-items: center;
    height: 35px;
    border: none;
    background-color: #C92127;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 15px;
}

.user-address-showing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #DADBDC;
}

    .user-address-container a {
        text-decoration:none;
        padding: 5px 50px;
        background-color: #C92127;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        margin-right: 30px;
        border:1px solid black;
        display:flex;
        align-items:center;
    }

.user-address-list{
    padding-top:20px;
    list-style:none;
}

.user-address-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:15px;
    border-bottom: 1px solid #DADBDC;
}

.user-address-title {
    display: flex;
    flex-direction: row;
}

    .user-address-title div{
        font-size:18px;
        font-weight:700;
    }

    .user-address-title .user-address-city {
        padding-right: 5px;
        margin-right: 5px;
        border-right: 3px solid #DADBDC;
    }

.user-address-detail{
    line-height:50px;
    
}

.user-address-card-action{
    display:flex;
    flex-direction:row;
}

.user-address-card-action a{
    margin-left:20px;
    font-weight:500;
    font-size:15px;
}



